.contact-container {
    height: 85vh;
    width: 100vw;
    padding-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container h1 {
    font-size: var(--font-size-xl);
}

.contact-container form {
    width: 700px;
    display: flex;
    flex-direction: column;
}

.contact-container label {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-md);
    font-weight: 500;
    color: var(--color-secondary);
}

input, textarea {
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-base);
    margin-bottom: var(--spacing-large);
}

textarea {
    height: 10rem;
    resize: none;
}

#contact-send {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none;
    border-radius: 6px;
    font-weight: 500;
    width: 100px;
    cursor: pointer;
    align-self: center;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--spacing-medium);
    background: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: -1;

    width: 300px;
    height: 100px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.popup.show {
    opacity: 1;
    z-index: 100;
}

@media (max-width: 1280px) {
    .contact-container {
        padding-top: 0;
    }
}

@media (max-width: 768px) {
    .contact-container form {
        width: 360px;
    }
}