<h1>About</h1>
<p>Hello! My name is Ricky Ly and I'm a recent grad from UC Irvine looking for a full time oppurtunity as a full-stack or front-end web developer. After graduating from UC Irvine, I identified several areas for improvement in my skill set, particularly in back-end technologies due to limited experience. In response, I've been actively expanding my expertise with industry-tested technologies such as React, Node.js, Express, and MongoDB. This blog is a personal challenge I've undertaken to enhance my proficiency in Express and MongoDB specifically. Feel free to explore the codebase on my GitHub linked below! Whether you have professional opportunities to discuss or simply want to engage in a casual conversation, please don't hesitate to reach out through any of the contact avenues provided.</p>


<div>
    <ul class="about-socials">
        <li>
            <a href="mailto:lyr5@uci.edu" >
                <img src="/img/email-logo.png" alt="Email Icon"> lyr5@uci.edu
            </a>
        </li>

        <li>
            <a href="https://github.com/rickyly1" target="_blank">
                <img src="/img/github-logo.png" alt="GitHub Icon"> GitHub
            </a>
        </li>

        <li>
            <a href="https://www.linkedin.com/in/rickyly1/" target="_blank">
                <img src="/img/linkedin-logo.webp" alt="Email Icon"> LinkedIn
            </a>
        </li>
    </ul>
</div>