<div class="author">
    <h1 class="author__heading">Nice to meet you, I'm Ricky!</h1>
    <p class="author__body">Web Developer and UC Irvine Graduate</p>
</div>

<div class="img-container">
    <img src="/img/hero-image.jpg" alt="a picture of me sitting on a bench" class="hero-image" width="781" height="428" style="object-fit: cover; object-position: center;">
</div>

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <% data.forEach(post => { %>
        
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>

        <% }) %>

    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
    <% } %>

</section>